//=======================================================
// Imports
//=======================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.13.0/css/all.css');

//=======================================================
// Variables
//=======================================================
$primary: #CB1116;
$secondery:#575656;
$white: #ffffff;
$black: #000000;
$dark: #424242;
$ligth: #F5F5F5;
$gray: #9E9E9E;
$success: #2ecc71;
$warning: #f39c12;
$info: #3498db;
$danger: #e74c3c;

//=======================================================
// Basic
//=======================================================
*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}
body{
    box-sizing: border-box;
}

//=======================================================
// Overview
//=======================================================
.container{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    padding:2rem;
}

.container-full{
    max-width: 100%;
    padding:2rem;
}

//=======================================================
// Typo
//=======================================================
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: 700;
    line-height: 1.2;
    margin-bottom:0.5rem;
}

h1, .h1{
    font-size: 3.5rem;
}
h2, .h2{
    font-size: 3rem;
}
h3, .h3{
   font-size: 2.5rem;
}
h4, .h4{
    font-size: 2rem;
}
h5, .h5{
    font-size: 1.5rem; 
}
h6, .h6{
    font-size: 1rem;
}
p, .p{
    font-size: 1rem;
    font-weight: 400;
}
b, .b, strong, .strong{
    font-size: 1rem;
    font-weight: 700    ;
}
small, .small{
    font-size: 0.7rem;
}
i, .i{
    font-style: italic;
}

.al-left{
text-align: left;
}
.al-center{
text-align: center;
}
.al-right{
text-align: right;
}

//=======================================================
// Colors
//=======================================================
.bg-primary{
    background-color:$primary;
    color:$white;
}

.bg-secondery{
    background-color:$secondery;
    color:$white; 
}

.bg-white{
    background-color:$white;
    color:$black;
}

.bg-black{
    background-color:$black;
    color:$white;
}

.bg-success{
    background-color: $success;
    color:$white;
}

.bg-info{
    background-color: $info;
    color:$white;
}

.bg-warning{
    background-color: $warning;
    color:$white;
}

.bg-danger{
    background-color: $danger;
    color:$white;
}

.bg-dark{
    background-color: $dark;
    color:$white;
}

.bg-ligth{
    background-color: $ligth;
    color:$black;
}

//=======================================================
// Padding
//=======================================================
.p-1{
    padding:1rem;
}
.pt-1{
    padding-top:1rem;
}
.pb-1{
    padding-bottom:1rem;
}
.pl-1{
    padding-left:1rem;
}
.pr-1{
    padding-right:1rem;
}
.px-1{
    padding-left:1rem;
    padding-right:1rem;
}
.py-1{
    padding-top:1rem;
    padding-bottom:1rem;
}

.p-2{
    padding:2rem;
}
.pt-2{
    padding-top:2rem;
}
.pb-2{
    padding-bottom:2rem;
}
.pl-2{
    padding-left:2rem;
}
.pr-2{
    padding-right:2rem;
}
.px-2{
    padding-left:2rem;
    padding-right:2rem;
}
.py-2{
    padding-top:2rem;
    padding-bottom:2rem;
}

.p-3{
    padding:3rem;
}
.pt-3{
    padding-top:3rem;
}
.pb-3{
    padding-bottom:3rem;
}
.pl-3{
    padding-left:3rem;
}
.pr-3{
    padding-right:3rem;
}
.px-3{
    padding-left:3rem;
    padding-right:3rem;
}
.py-3{
    padding-top:3rem;
    padding-bottom:3rem;
}

.p-4{
    padding:4rem;
}
.pt-4{
    padding-top:4rem;
}
.pb-4{
    padding-bottom:4rem;
}
.pl-4{
    padding-left:4rem;
}
.pr-4{
    padding-right:4rem;
}
.px-4{
    padding-left:4rem;
    padding-right:4rem;
}
.py-4{
    padding-top:4rem;
    padding-bottom:4rem;
}

.p-5{
    padding:5rem;
}
.pt-5{
    padding-top:5rem;
}
.pb-5{
    padding-bottom:5rem;
}
.pl-5{
    padding-left:5rem;
}
.pr-5{
    padding-right:5rem;
}
.px-5{
    padding-left:5rem;
    padding-right:5rem;
}
.py-5{
    padding-top:5rem;
    padding-bottom:5rem;
}

//=======================================================
// Margin
//=======================================================
.m-1{
    margin:1rem;
}
.mt-1{
    margin-top:1rem;
}
.mb-1{
    margin-bottom:1rem;
}
.ml-1{
    margin-left:1rem;
}
.mr-1{
    margin-right:1rem;
}
.mx-1{
    margin-left:1rem;
    margin-right:1rem;
}
.my-1{
    margin-top:1rem;
    margin-bottom:1rem;
}

.m-2{
    margin:2rem;
}
.mt-2{
    margin-top:2rem;
}
.mb-2{
    margin-bottom:2rem;
}
.ml-2{
    margin-left:2rem;
}
.mr-2{
    margin-right:2rem;
}
.mx-2{
    margin-left:2rem;
    margin-right:2rem;
}
.my-2{
    margin-top:2rem;
    margin-bottom:2rem;
}

.m-3{
    margin:3rem;
}
.mt-3{
    margin-top:3rem;
}
.mb-3{
    margin-bottom:3rem;
}
.ml-3{
    margin-left:3rem;
}
.mr-3{
    margin-right:3rem;
}
.mx-3{
    margin-left:3rem;
    margin-right:3rem;
}
.my-3{
    margin-top:3rem;
    margin-bottom:3rem;
}

.m-4{
    margin:4rem;
}
.mt-4{
    margin-top:4rem;
}
.mb-4{
    margin-bottom:4rem;
}
.ml-4{
    margin-left:4rem;
}
.mr-4{
    margin-right:4rem;
}
.mx-4{
    margin-left:4rem;
    margin-right:4rem;
}
.my-4{
    margin-top:4rem;
    margin-bottom:4rem;
}

.m-5{
    margin:5rem;
}
.mt-5{
    margin-top:5rem;
}
.mb-5{
    margin-bottom:5rem;
}
.ml-5{
    margin-left:5rem;
}
.mr-5{
    margin-right:5rem;
}
.mx-5{
    margin-left:5rem;
    margin-right:5rem;
}
.my-5{
    margin-top:5rem;
    margin-bottom:5rem;
}